body{
    background-color: rgb(230, 217, 189);
}

#app-content{
    margin-top: 20px;
}

.card:hover{
    background-color:rgb(255, 238, 0);
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0, .12), 0 4px 8px rgba(0,0,0.06);
}

.card-link{
    color: #000;
    text-decoration: none;
}

.card-link:hover{
    color:darkblue;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }